/*
 *= require store/spree_frontend
*/
.add_on_advanced_search {
  display: block;
}
.add_on_advanced_search ul{
  list-style :none;
}
.add_on_advanced_search ul li {
  display: inline;
  float: left;
  padding: 0 1em;
  border-left: solid 1px black;
}
.add_on_advanced_search li:first-child{
    border-left: none;
}

.advanced_search_link_sidebar {
  display: block;
}
.advanced_search_link_sidebar ul{
  list-style :none;
}
nav#advanced_search_link_sidebar .add_on_advanced_search {
    border-bottom: 1px solid #D9D9DB;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}